        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if page.title != "" and page.url != "/" %}{{ page.title | escape | append: " | " | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt == ""  %}{{ page.content | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.excerpt | strip_html | strip_newlines }}{% endif %}{% if page.url == "/" %}{{ site.description | strip_newlines }}{% endif %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="vR73qdkQWicAN9ZN1W4i9BJ3crUKYgIa_U1p4Edj8EE" />
        
        <link rel="apple-touch-icon" href="{{ site.url }}/icon.png">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
		{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
		<link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
		{% endfor %}{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
		<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}